body, html {
    margin: 0;
    padding: 0;
    margin-top: -8px!important;
}

.container {
    padding: 0 30px 0 30px;
}

.m-0 {
    margin-block-start: 0!important;
    margin-block-end: 0!important;
}

.row {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    bottom: 100%;
    left: 0;
    width: 380px;
    margin-bottom: 5px;
}

.links {
    font-weight: bold;
    color: #ed6b23;
}

input {
    -webkit-appearance: none;
    border: 1px solid #ed6b23;
    box-sizing: border-box;
    border-radius: 2px;
    width: 380px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-left: 10px;
}

.mbs-0 {
    margin-block-start: 0;
}

.d-none {
    display:none;
}

.d-block {
    display: block;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.w-45 {
    width: 45%!important;
}

.w-65 {
    width: 65%;
}

.w-25 {
    width: 25% !important;
}

.whiteButton {
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ed6b23;
    background: #FFFFFF;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 15px;
}

.orangeButton {
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ed6b23;
    background: #ed6b23;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: bold;
}

.mbe-5 {
    margin-block-end: 5px;
}

.p-30 {
    padding:30px;
}

.mt-25 {
    margin-top:25px!important;
}

.mt-10vh {
    margin-top: 10vh;
}